[submodule "data/studyforrest-data-annotations"]
	path = data/studyforrest-data-annotations
	url = https://github.com/psychoinformatics-de/studyforrest-data-annotations.git
	branch = master
	datalad-id = 45b9ab26-07fc-11e8-8c71-f0d5bf7b5561
